<!DOCTYPE html>
{% extends "frontpage/base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block body_block %}

<div class ='container' style="margin-top:50px">
	<div class ='jumbotron'>
		<h1>Billboard Data</h1>
		<h2>Demo</h2>
	</div>
	
	{% render_table table %}
</div>

<div class='container'>
	<label for='lyrics'>Input your lyrics:</label>
	<form method="post" id="lyrics">
	{{ form.as_p }}
	{% csrf_token %}
	<input type="submit" name="btn btn-primary" value="Submit">
	</form>	
</div>

<div class='container'>
{% if positive %}
	<p>
	The lyrics has {{ positive }} probability to be on the billboard.
	</p>
{% endif %}
</div>

{% endblock %}